/* Add your custom CSS here */

.section-selector-1 { background-color: var(--green-800) }

.section-selector-2 { background-color: var(--gray-200) }


.playfair-display {
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: 10px;
  font-style: normal;
}